asteroid==0.5.1
asteroid-filterbanks==0.4.0
audioread==2.1.9
huggingface-hub==0.4.0
librosa==0.8.1
matplotlib==3.5.1
numpy==1.18.0
pandas==1.3.4
pesq==0.0.3
scipy==1.7.1
sklearn==0.0
soundfile==0.10.3.post1
speechbrain==0.5.11
speechrecognition==3.8.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.9.1
torch-complex==0.4.3
torch-optimizer==0.3.0
torch-stoi==0.1.2
torchaudio==0.9.1
tqdm==4.62.3
transformers==4.11.3
